@font-face {
  font-family: "Vazir";
  src: url(../assets/Fonts/Vazir/Vazirmatn-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Vazir";
  src: url(../assets/Fonts/Vazir/Vazirmatn-Medium.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Vazir";
  src: url(../assets/Fonts/Vazir/Vazirmatn-SemiBold.woff2) format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Vazir";
  src: url(../assets/Fonts/Vazir/Vazirmatn-Bold.woff2) format("woff2");
  font-weight: 700;
}
